<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    <!-- <link rel="stylesheet" href="../../static/css/style.css"> -->
    <!-- Tailwind elements library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />

    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <!--  -->
    <link rel="stylesheet" href="./static/css/navbar.css">
    <link rel="stylesheet" href="./static/css/home.css">
    <link rel="stylesheet" href="./static/css/home-resp.css">
    <script src="./static/script/home.js" defer></script>
    <script src="./static/script/navbar.js" defer></script>
    <script src="./static/script/shoppingCartPanel.js" defer></script>
    <script src="https://kit.fontawesome.com/6656538b67.js" crossorigin="anonymous"></script>
</head>

<body class="b-[#eaeded]   ">
    <%-body%>

</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script> -->

</html>