* {
    padding: 0;
    margin: 0;
}

/* GOOGLE SIGNIN BUTTON */
.g-signin2 div {

    margin: auto;
}

html {
    overflow-y: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}